 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user-details">
    <h1> Qualifications </h1>
  </div>
  <div>
    <h3> Education: </h3>
    <ul>
      <li>Bachelor of Engineering in Computer Science (Mumbai University) - 2011</li>
    </ul>
    <h3> Certifcation: </h3>
      <ul>
        <li>Acquia Certified Drupal Developer - ​Drupal 8 - Passed November 2018</li>
        <li>Udemy Docker Mastery: with Kubernetes +Swarm from a Docker Captain</li>
      </ul>
  </div>
  <div class="user-details">
    <h1>  Skills </h1>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Frontend</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <p>HTML5, CSS3, SASS, Javascript, JQuery</p>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-drupal-plain colored"></i>
      <i class="devicon-wordpress-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <p>Drupal, Wordpress, NodeJs</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-composer-line colored"></i>
      <i class="devicon-composer-line"></i>
      <p>Git, VSCode, Docker, Composer</p>
    </div>
</div>
