<div class="user-details">
  <h1> Recent Projects </h1>
</div>
<div class="user-projects">

  <div>
    <h3> Openscholar </h3>
    <p>Openscholar is a drupal distribution made specifically for University websites. It is used by world's leading university like Havard, University of Virgina, Princton University etc</p>
    <ul>
      <li> <b>Skills Used: </b>Drupal 8, AngularJS, Elasticsearch</li>
      <li> <b>Role in Project: </b>Drupal 8 Migration, Search feature, Lynx Functionality</li>
    </ul>
    <a class="project-link" href="https://theopenscholar.com/">Check it out</a>
  </div>
</div>
<div>
  <h3> Digicare </h3>
  <p>Digicare is Patient Support application used for people with Long term chronic disease like arthritis and diabetis, serving as platform to help patient co-ordinate with doctors, nurses and pharmacist on a single application.</p>
  <ul>
    <li> <b>Skills Used: </b>Drupal 8, Rest API</li>
    <li> <b>Role in Project: </b>End to feature development in the application like appointment, planner, presciption, community etc</li>
  </ul>
  <a class="project-link" href="https://www.digicare.life/digicare/">Check it out</a>
</div>
<div>
  <h3> Airliquide </h3>
  <p>Airliquide is leading supplier of industrial gases in Nordic region.</p>
  <ul>
    <li> <b>Skills Used: </b>Drupal 7, SOAP API</li>
    <li> <b>Role in Project: </b>Order workflow for distributors, Loyaltly program feature.</li>
  </ul>
  <a class="project-link" href="https://www.airliquide.com/">Check it out</a>
</div>
<div>
  <h3> Singpost </h3>
  <p>SingPost is pioneering and leading in eCommerce logistics as well as providing innovative mail and logistics solutions in Singapore and the Asia Pacific, with operations in 15 countries.</p>
  <ul>
    <li> <b>Skills Used: </b>Drupal 7, SOAP</li>
    <li> <b>Role in Project: </b>End to feature development in the application like shipment, bulk shipment etc</li>
  </ul>
  <a class="project-link" href="https://www.singpost.com/">Check it out</a>
</div>
</div>

<div class="user-details"><h3>And many more projects...</h3></div>
